<%= provide(:title, 'About') %>

<h1>About</h1>
<p>
  Wac app built with Ruby on Rails. See more details on <a href="https://github.com/villers/Ruby_on_Rails_Projet_Libre">Github</a>.
</p>
<p>
  Author: <a href="https://twitter.com/villersm"> VILLERS Mickaël, DUHAMEL Jonas</a>
</p>
