<%= provide(:title, 'Users') %>
<div class="row">
  <div class="col-md-8">
    <div class="timeline">
      <h2 class="title">All Users</h2>
      <ul class="tweets">
        <% @users.each do |user| %>
          <li class="tweet clearfix">
            <%= image_tag("https://cdn.local.epitech.eu/userprofil/profilview/#{user.name}.jpg", alt: user.name, class: "gravatar") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
