<div class="row">
		<div class="col-md-8 well">
          <%= form_for(@tweet) do |f| %>
            <%= f.text_area :content, class: "col-md-12", rows: 5, placeholder: "Compose new Tweet..." %>
            <%= f.submit "Post", class: "btn btn-primary" %>
          <% end %>
        </div>
	</div>
