<div class="profile clearfix">
  <%= image_tag("https://cdn.local.epitech.eu/userprofil/profilview/#{current_user.name}.jpg", alt: current_user.name, class: "gravatar") %>
</div>

<div><%= current_user.name %></div>
<div><%= current_user.email %></div>
<%= render 'shared/tweet_form' %>
